<div class="container-padre">
  
<div class="container-1">
  <div class="container">
    <div class="row">
      <div class="col s10">
        <div class="card">
          <div class="card-content">
            <form #gastoForm="ngForm" (ngSubmit)="addGasto(gastoForm)">
              <div class="row">
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="tipo"
                    #name="ngModel"
                    [(ngModel)]="selectedGasto.tipo"
                    placeholder="Ingrese el tipo de gasto"
                  />
                </div>
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="ruc"
                    #name="ngModel"
                    [(ngModel)]="selectedGasto.ruc"
                    placeholder="Ingrese el ruc de empresa"
                  />
                </div>
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="empresa"
                    #name="ngModel"
                    [(ngModel)]="selectedGasto.empresa"
                    placeholder="Ingrese el nombre de empresa"
                  />
                </div>
                <div class="input-field col s12">
                  <input
                    type="text"
                    name="monto"
                    #name="ngModel"
                    [(ngModel)]="selectedGasto.monto"
                    placeholder="Ingrese el monto del gasto"
                  />
                </div>
              </div>
              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right">Grabar</button>
                  <button class="btn right" (click)="resetForm(gastoForm)">
                    Borrar
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-2">
  <div class="col s7">
    <table class="table table-hover">
      <thead>
        <th>Tipo</th>
        <th>RUC</th>
        <th>Empresa</th>
        <th>Monto</th>
      </thead>
      <tbody>
        <tr *ngFor="let gasto of gastos">
          <td>{{ gasto.tipo }}</td>
          <td>{{ gasto.empresa }}</td>
          <td>{{ gasto.ruc }}</td>
          <td>{{ gasto.monto }}</td>
          <td>
            <a (click)="editGasto(gasto)">
              <i class="material-icons">edit</i>
            </a>
          </td>
          <td>
            <a (click)="deleteGasto(gasto)">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>